@import url('reset.css');
@import url('author.css');

body {
	margin: 0;
	font-family: 'Author-Variable', sans-serif;
	font-feature-settings: 'pnum' on, 'lnum' on;
}

* {
	box-sizing: border-box;
}

main {
	overflow: auto;
}

@media (prefers-reduced-motion) {
	* {
		transition: none !important;
		animation: none !important;
	}
}

main {
	padding: 16px;
}
